* {
  -fx-font-family: monospace;
  -fx-font-size: 20;
  -fx-text-fill: black;
}

#TerminalButton {
  -fx-background-radius: 20px;
  -fx-border-width: 0px;
  -fx-background-color: #8bdd3f;
}

#TerminalButton:hover {
  -fx-background-color: #95e947;
}

#TerminalButton:pressed {
  -fx-background-color: #7fcd37;
}

#TerminalTextBox {
  -fx-font-size: 20;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
}

#TerminalTextBox .scroll-pane{
  -fx-background-color: white;
  -fx-background-radius: 20px;
}
#TerminalTextBox .scroll-pane .viewport, #TerminalTextBox .scroll-pane .content{
  -fx-background-color: transparent;
}

.displayWindow{
  -fx-background-color: #dedcdc;
  -fx-background-radius: 20px;
}

#HistoryBox {
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
  -fx-background-color: white;
}

#HistoryBox .viewport{
  -fx-background-color: transparent;
}

#HistoryTab {
  -fx-background-radius: 20px;
  -fx-border-width: 0px;
  -fx-background-color: #f5f5f5;
}

#HistoryTab:hover {
  -fx-background-color: #fafafa;
}

#HistoryTab:pressed {
  -fx-background-color: #e7e7e7;
}