* {
  -fx-font-family: monospace;
  -fx-font-size: 20;
  -fx-text-fill: black;
}

#TerminalButton {
  -fx-background-radius: 20px;
  -fx-border-width: 0px;
  -fx-background-color: #8bdd3f;
}

#TerminalButton:hover {
  -fx-background-color: #95e947;
}

#TerminalButton:pressed {
  -fx-background-color: #7fcd37;
}

#TerminalTextBox {
  -fx-font-size: 20;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
}

#TerminalTextBox .scroll-pane{
  -fx-background-color: white;
  -fx-background-radius: 20px;
}
#TerminalTextBox .scroll-pane .viewport, #TerminalTextBox .scroll-pane .content{
  -fx-background-color: transparent;
}

.displayWindow{
  -fx-background-color: #dedcdc;
  -fx-background-radius: 20px;
}

.yeetBox{
  -fx-background-color: #ffffff;
  -fx-background-radius: 20px;
}

#HistoryBox, #VariablesBox, #UserCommandsBox {
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
  -fx-background-color: white;
}

#HistoryBox .viewport, #VariablesBox .viewport, #UserCommandsBox .viewport{
  -fx-background-color: transparent;
}

#HistoryTag, #VariablesTag, #UserCommandsTag {
  -fx-background-radius: 20px;
  -fx-border-width: 0px;
  -fx-background-color: #f5f5f5;
}

#HistoryTag:hover {
  -fx-background-color: #fafafa;
}

#HistoryTag:pressed {
  -fx-background-color: #e7e7e7;
}

#PenColorPicker {
  -fx-max-width: 100px;
}

#Slider {
  -fx-max-width: 100px;
}